.stat-card{
    background:white;
    border-radius:14px;
    padding:20px;
    display:flex;
    align-items:center;
    gap:20px;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.stat-icon{
    width:65px;
    height:65px;
    border-radius:14px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:28px;
}

.stat-info h2{
    margin:0;
    font-size:30px;
    color:#111827;
}

.stat-info p{
    margin-top:6px;
    color:#6b7280;
    font-size:15px;
}